
@{
    ViewData["Title"] = "Welcome Page";
}

<div>
    <h1> @MessageApp.Configuration.Messages.Instance.WelcomeMessage</h1>
    <p>@MessageApp.Configuration.Messages.Instance.BodyMessage</p>
    <a href="/home/bye">Say Bye!</a>
</div>
